/*ОСНОВНЫЕ УНИВЕРСАЛЬНЫЕ ПАРАМЕТРЫ СТРАНИЦЫ*/
    @import url('https://fonts.googleapis.com/css?family=Nunito:700&display=swap');
    html, body{
        height: 100%;  
        font-family: 'Nunito', sans-serif;
        min-width: 320px;
    }
    header{
        z-index: 100;
        position: sticky;
        top: 0;
        font-size: 12pt;
    }
    footer{
        height: 5vh;
        padding: 2vh;
        color: #fff;
        }
    footer, .miniBookAutor{
        font-size: 70%;
    }
    .contentcontainerArticle{
        font-weight: 600;
    }

/*ЦВЕТ*/
    nav, footer{
        background-color: rgba(104, 104, 129) !important;
    }
    .bookRow, .item, .contactUsBlock, .cartRow, .contactUsRow{
        background-color: rgba(104, 104, 129, 0.05);
    }
    .miniBookFlow, .contentcontainerCart{
        border: 4px solid rgba(104, 104, 129, 0.05);
    }
    .miniBookTitle, .miniBookAutor{
        color: rgb(67, 67, 83);
    }
    .countCart{
        color: rgb(220, 56, 72);
    }
    .bannertext{
        background-color: rgba(104, 104, 129, 0.1);
    }
    .totalCountMiniCartStyle{
        background-color: rgb(220, 56, 72);
        color: #fff;
        padding: 0.2vh 1vh;
        border-radius: 20px;
    }

/*ИЗОБРАЖЕНИЯ*/
    .logo {
        width: 60px;
    }
    .icon{
        width: 40px;
    }
    .cartBookImg{
        object-fit: cover;
        width: 35px;
        height: 55px;
    }
    .miniBookImg{
        object-fit: cover;
        width: 130px;
        height: 200px;
    }

/*ПОЛОЖЕНИЕ КНОПКИ НА ОБЪЕКТЕ*/
    .containerPhotoBook .btn{
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

/*КАРТОЧКА ТОВАРА НА ГЛАВНОЙ СТРАНИЦЕ*/
    .item{
        padding: 2vw;
        display: block;
        margin: 1vh auto;
        width: 240px;
        height: 370px;
        justify-content: space-between;
        line-height: 1;
    }

/*СОЗДАНИЕ КОНТЕЙНЕРА*/
    .navbar-collapse, .container-nav, li, .contentcontainerBook, .bookFieldsContainer, .item, .miniBookFooter{
        display: flex;
    }

/*СКРУГЛЕННАЯ РАМКА*/
    .bannertext, .item, .miniBookFlow, .contentcontainerCart, .contactUsBlock, .cartRow, .cartMainRow, .contactUsRow{    
        border-radius: 5px;
    }

/*НАПРАВЛЕНИЕ ДОЧЕРНИХ ЭЛЕМЕНТОВ*/
    .bookFieldsContainer, .item{    
        flex-direction: column;
    }

/*АБСОЛЮТНАЯ ФИКСАЦИЯ ЭЛЕМЕНТА*/
    .navbar-nav .dropdown-menu, .containerPhotoBook .btn{
        position: absolute;
    }

/*ВНУТРЕННИЙ ОТСТУП*/
    .contentcontainer{
        padding: 4vh 0;
    }
    .bannertext, .annotationRow, .miniBookFlow, .contentcontainerCart, .contactUsBlock, .cartRow, .cartMainRow, .contactUsRow{
        padding: 1%;
    }
    .miniBookText{
        padding: 10px 0; 
    }
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

/*ВНЕШНИЙ ОТСТУП*/
    .cartRow, .cartMainRow, .contactUsRow, .bookRow{
        margin: 1vh 0;
    }
    .bannertext{
        margin: 1% 0;    
        backdrop-filter: blur(7px);
    }
    .miniBookFlow, .articles, .carousel, .contentcontainerCart{
        margin-bottom: 4vh;
    }

/*ВЫРАВНИВАНИЕ ТЕКСТА*/
    .navbar-collapse, .container-nav, li, .item, .miniBookName, .miniBookAutor, .cartRow, .cartMainRow{
        text-align: center;
    }
    .annotationRow, .bookRow{
        text-align: justify;
    }
    .cartBookName{
        text-align: left;
    }

/*ГОРИЗОНТАЛЬНОЕ ВЫРАВНИВАНИЕ*/
    .bookFieldsContainer{
        justify-content: space-around;
    }
    .contentcontainerBook{
        justify-content: center;
    }

/*ВЕРТИКАЛЬНОЕ ВЫРАВНИВАНИЕ*/
    .miniBookFooter{
        align-items: baseline;
    }
    li, li a, .bookRow{
        align-items: center;
    }

/*ШИРИНА И ВЫСОТА*/
    header, .form-control, .searchform, .bannertext, .articles{
        width: 100%!important;
    }
    .bookCol{
        min-width: 300px;
    }
    .contentcontainerCart{
        min-width: 670px;
    }
    .carousel-item {
        height: 75vh;
    }
    main{
        min-height: 85vh;
    }

/*НАСТРОЙКИ ДЛЯ МИНИМАЛЬНОГО РАЗРЕШЕНИЯ ШИРИНЫ 300*/
    @media (min-width: 300px) {
        .searchInp{
            margin-bottom: 1%;
        }
        .navbar-collapse, .container-nav{
            flex-direction: column;
            justify-content: space-around;
        }
        .carousel-item {
            font-size: 70%;
            max-height: 300px;
        }
        .carousel-item > img {
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
        li, li a{    
            padding-bottom: 0.5%;
        }
    }

/*НАСТРОЙКИ ДЛЯ МИНИМАЛЬНОГО РАЗРЕШЕНИЯ ШИРИНЫ 700*/
    @media (min-width: 700px) {
        .carousel-item {
            margin: auto;
            font-size: 80%;
            max-height: 450px;
        }
    }

/*НАСТРОЙКИ ДЛЯ МИНИМАЛЬНОГО РАЗРЕШЕНИЯ ШИРИНЫ 1024*/
    @media (min-width: 1024px) {
        .navbar-collapse, .container-nav{
            flex-direction: row;
            justify-content: space-around;
        }
        .carousel-item {
            font-size: 90%;
            max-height: 500px;
        }
        .carousel-item > img {
            width: 100%;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
        .itemMenu{
            max-width: 30vw;
        }
        .searchInp{
            min-width: 40vh;
        }
        .searchBtn{
            max-width: 10vh;
        }
        li, li a{    
            padding-bottom: 0;
        }
    }

/*НАСТРОЙКИ ДЛЯ МИНИМАЛЬНОГО РАЗРЕШЕНИЯ ШИРИНЫ 1200*/
    @media (min-width: 1200px) {
        .carousel-item {
            font-size: 100%;
            max-height: 600px;
        }
        .carousel-item > img {
            width: 100%;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
        
    }




































