    /*
    Flaticon icon font: Flaticon
    Creation date: 11/05/2017 12:00
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-mouse-clicker:before { content: "\f100"; }
.flaticon-002-mobile-phone-2:before { content: "\f101"; }
.flaticon-003-wifi-signal-5:before { content: "\f102"; }
.flaticon-004-floppy-disk:before { content: "\f103"; }
.flaticon-005-wifi-signal-4:before { content: "\f104"; }
.flaticon-006-open-laptop:before { content: "\f105"; }
.flaticon-007-weekly-calendar-1:before { content: "\f106"; }
.flaticon-008-weekly-calendar:before { content: "\f107"; }
.flaticon-009-chatting-3:before { content: "\f108"; }
.flaticon-010-film-reel:before { content: "\f109"; }
.flaticon-011-maps-and-flags-5:before { content: "\f10a"; }
.flaticon-012-padnote:before { content: "\f10b"; }
.flaticon-013-domestic-1:before { content: "\f10c"; }
.flaticon-014-lace:before { content: "\f10d"; }
.flaticon-015-recorder:before { content: "\f10e"; }
.flaticon-016-users:before { content: "\f10f"; }
.flaticon-017-domestic:before { content: "\f110"; }
.flaticon-018-music-player-4:before { content: "\f111"; }
.flaticon-019-music-player-3:before { content: "\f112"; }
.flaticon-020-music-player-2:before { content: "\f113"; }
.flaticon-021-maps-and-flags-4:before { content: "\f114"; }
.flaticon-022-cassette:before { content: "\f115"; }
.flaticon-023-letter-i:before { content: "\f116"; }
.flaticon-024-levels:before { content: "\f117"; }
.flaticon-025-music-player-1:before { content: "\f118"; }
.flaticon-026-music-player:before { content: "\f119"; }
.flaticon-027-video-play:before { content: "\f11a"; }
.flaticon-028-right-arrow-1:before { content: "\f11b"; }
.flaticon-029-satellite:before { content: "\f11c"; }
.flaticon-030-reader:before { content: "\f11d"; }
.flaticon-031-phone-set:before { content: "\f11e"; }
.flaticon-032-photograph:before { content: "\f11f"; }
.flaticon-033-mailing-2:before { content: "\f120"; }
.flaticon-034-mailing-1:before { content: "\f121"; }
.flaticon-035-hand-gesture-2:before { content: "\f122"; }
.flaticon-036-wifi-signal-3:before { content: "\f123"; }
.flaticon-037-circuit:before { content: "\f124"; }
.flaticon-038-wireless-connectivity-1:before { content: "\f125"; }
.flaticon-039-phone-receiver-1:before { content: "\f126"; }
.flaticon-040-open-book:before { content: "\f127"; }
.flaticon-041-sound-box:before { content: "\f128"; }
.flaticon-042-hand-gesture-1:before { content: "\f129"; }
.flaticon-043-left-arrow:before { content: "\f12a"; }
.flaticon-044-right-arrow:before { content: "\f12b"; }
.flaticon-045-at:before { content: "\f12c"; }
.flaticon-046-cardinal-points:before { content: "\f12d"; }
.flaticon-047-sand-clock:before { content: "\f12e"; }
.flaticon-048-computer-monitor:before { content: "\f12f"; }
.flaticon-049-phone-receiver:before { content: "\f130"; }
.flaticon-050-search-engine:before { content: "\f131"; }
.flaticon-051-text-lines-5:before { content: "\f132"; }
.flaticon-052-text-lines-4:before { content: "\f133"; }
.flaticon-053-male-reporter-1:before { content: "\f134"; }
.flaticon-054-male-reporter:before { content: "\f135"; }
.flaticon-055-typing:before { content: "\f136"; }
.flaticon-056-text-lines-3:before { content: "\f137"; }
.flaticon-057-text-lines-2:before { content: "\f138"; }
.flaticon-058-chatting-2:before { content: "\f139"; }
.flaticon-059-wireless-internet:before { content: "\f13a"; }
.flaticon-060-signing:before { content: "\f13b"; }
.flaticon-061-ringing:before { content: "\f13c"; }
.flaticon-062-chatting-1:before { content: "\f13d"; }
.flaticon-063-video-camera:before { content: "\f13e"; }
.flaticon-064-mailing:before { content: "\f13f"; }
.flaticon-065-chatting:before { content: "\f140"; }
.flaticon-066-writer:before { content: "\f141"; }
.flaticon-067-radio-antenna-1:before { content: "\f142"; }
.flaticon-068-voice-recorder-1:before { content: "\f143"; }
.flaticon-069-tv-screen-1:before { content: "\f144"; }
.flaticon-070-protest:before { content: "\f145"; }
.flaticon-071-social-normal:before { content: "\f146"; }
.flaticon-072-televisions:before { content: "\f147"; }
.flaticon-073-satellite-station:before { content: "\f148"; }
.flaticon-074-mobile-phone-1:before { content: "\f149"; }
.flaticon-075-mobile-phone:before { content: "\f14a"; }
.flaticon-076-text-lines-1:before { content: "\f14b"; }
.flaticon-077-text-lines:before { content: "\f14c"; }
.flaticon-078-news-report:before { content: "\f14d"; }
.flaticon-079-voice-recorder:before { content: "\f14e"; }
.flaticon-080-chains:before { content: "\f14f"; }
.flaticon-081-wireless-connectivity:before { content: "\f150"; }
.flaticon-082-wifi-signal-2:before { content: "\f151"; }
.flaticon-083-radio-antenna:before { content: "\f152"; }
.flaticon-084-wifi-signal-1:before { content: "\f153"; }
.flaticon-085-maps-and-flags-3:before { content: "\f154"; }
.flaticon-086-touch-screen-1:before { content: "\f155"; }
.flaticon-087-wifi-signal:before { content: "\f156"; }
.flaticon-088-cloud-computing-1:before { content: "\f157"; }
.flaticon-089-touch-screen:before { content: "\f158"; }
.flaticon-090-maps-and-flags-2:before { content: "\f159"; }
.flaticon-091-hand-gesture:before { content: "\f15a"; }
.flaticon-092-cloud-computing:before { content: "\f15b"; }
.flaticon-093-maps-and-flags-1:before { content: "\f15c"; }
.flaticon-094-maps-and-flags:before { content: "\f15d"; }
.flaticon-095-phone-call-3:before { content: "\f15e"; }
.flaticon-096-stick-man:before { content: "\f15f"; }
.flaticon-097-phone-call-2:before { content: "\f160"; }
.flaticon-098-tv-screen:before { content: "\f161"; }
.flaticon-099-phone-call-1:before { content: "\f162"; }
.flaticon-100-phone-call:before { content: "\f163"; }
    
    $font-Flaticon-001-mouse-clicker: "\f100";
    $font-Flaticon-002-mobile-phone-2: "\f101";
    $font-Flaticon-003-wifi-signal-5: "\f102";
    $font-Flaticon-004-floppy-disk: "\f103";
    $font-Flaticon-005-wifi-signal-4: "\f104";
    $font-Flaticon-006-open-laptop: "\f105";
    $font-Flaticon-007-weekly-calendar-1: "\f106";
    $font-Flaticon-008-weekly-calendar: "\f107";
    $font-Flaticon-009-chatting-3: "\f108";
    $font-Flaticon-010-film-reel: "\f109";
    $font-Flaticon-011-maps-and-flags-5: "\f10a";
    $font-Flaticon-012-padnote: "\f10b";
    $font-Flaticon-013-domestic-1: "\f10c";
    $font-Flaticon-014-lace: "\f10d";
    $font-Flaticon-015-recorder: "\f10e";
    $font-Flaticon-016-users: "\f10f";
    $font-Flaticon-017-domestic: "\f110";
    $font-Flaticon-018-music-player-4: "\f111";
    $font-Flaticon-019-music-player-3: "\f112";
    $font-Flaticon-020-music-player-2: "\f113";
    $font-Flaticon-021-maps-and-flags-4: "\f114";
    $font-Flaticon-022-cassette: "\f115";
    $font-Flaticon-023-letter-i: "\f116";
    $font-Flaticon-024-levels: "\f117";
    $font-Flaticon-025-music-player-1: "\f118";
    $font-Flaticon-026-music-player: "\f119";
    $font-Flaticon-027-video-play: "\f11a";
    $font-Flaticon-028-right-arrow-1: "\f11b";
    $font-Flaticon-029-satellite: "\f11c";
    $font-Flaticon-030-reader: "\f11d";
    $font-Flaticon-031-phone-set: "\f11e";
    $font-Flaticon-032-photograph: "\f11f";
    $font-Flaticon-033-mailing-2: "\f120";
    $font-Flaticon-034-mailing-1: "\f121";
    $font-Flaticon-035-hand-gesture-2: "\f122";
    $font-Flaticon-036-wifi-signal-3: "\f123";
    $font-Flaticon-037-circuit: "\f124";
    $font-Flaticon-038-wireless-connectivity-1: "\f125";
    $font-Flaticon-039-phone-receiver-1: "\f126";
    $font-Flaticon-040-open-book: "\f127";
    $font-Flaticon-041-sound-box: "\f128";
    $font-Flaticon-042-hand-gesture-1: "\f129";
    $font-Flaticon-043-left-arrow: "\f12a";
    $font-Flaticon-044-right-arrow: "\f12b";
    $font-Flaticon-045-at: "\f12c";
    $font-Flaticon-046-cardinal-points: "\f12d";
    $font-Flaticon-047-sand-clock: "\f12e";
    $font-Flaticon-048-computer-monitor: "\f12f";
    $font-Flaticon-049-phone-receiver: "\f130";
    $font-Flaticon-050-search-engine: "\f131";
    $font-Flaticon-051-text-lines-5: "\f132";
    $font-Flaticon-052-text-lines-4: "\f133";
    $font-Flaticon-053-male-reporter-1: "\f134";
    $font-Flaticon-054-male-reporter: "\f135";
    $font-Flaticon-055-typing: "\f136";
    $font-Flaticon-056-text-lines-3: "\f137";
    $font-Flaticon-057-text-lines-2: "\f138";
    $font-Flaticon-058-chatting-2: "\f139";
    $font-Flaticon-059-wireless-internet: "\f13a";
    $font-Flaticon-060-signing: "\f13b";
    $font-Flaticon-061-ringing: "\f13c";
    $font-Flaticon-062-chatting-1: "\f13d";
    $font-Flaticon-063-video-camera: "\f13e";
    $font-Flaticon-064-mailing: "\f13f";
    $font-Flaticon-065-chatting: "\f140";
    $font-Flaticon-066-writer: "\f141";
    $font-Flaticon-067-radio-antenna-1: "\f142";
    $font-Flaticon-068-voice-recorder-1: "\f143";
    $font-Flaticon-069-tv-screen-1: "\f144";
    $font-Flaticon-070-protest: "\f145";
    $font-Flaticon-071-social-normal: "\f146";
    $font-Flaticon-072-televisions: "\f147";
    $font-Flaticon-073-satellite-station: "\f148";
    $font-Flaticon-074-mobile-phone-1: "\f149";
    $font-Flaticon-075-mobile-phone: "\f14a";
    $font-Flaticon-076-text-lines-1: "\f14b";
    $font-Flaticon-077-text-lines: "\f14c";
    $font-Flaticon-078-news-report: "\f14d";
    $font-Flaticon-079-voice-recorder: "\f14e";
    $font-Flaticon-080-chains: "\f14f";
    $font-Flaticon-081-wireless-connectivity: "\f150";
    $font-Flaticon-082-wifi-signal-2: "\f151";
    $font-Flaticon-083-radio-antenna: "\f152";
    $font-Flaticon-084-wifi-signal-1: "\f153";
    $font-Flaticon-085-maps-and-flags-3: "\f154";
    $font-Flaticon-086-touch-screen-1: "\f155";
    $font-Flaticon-087-wifi-signal: "\f156";
    $font-Flaticon-088-cloud-computing-1: "\f157";
    $font-Flaticon-089-touch-screen: "\f158";
    $font-Flaticon-090-maps-and-flags-2: "\f159";
    $font-Flaticon-091-hand-gesture: "\f15a";
    $font-Flaticon-092-cloud-computing: "\f15b";
    $font-Flaticon-093-maps-and-flags-1: "\f15c";
    $font-Flaticon-094-maps-and-flags: "\f15d";
    $font-Flaticon-095-phone-call-3: "\f15e";
    $font-Flaticon-096-stick-man: "\f15f";
    $font-Flaticon-097-phone-call-2: "\f160";
    $font-Flaticon-098-tv-screen: "\f161";
    $font-Flaticon-099-phone-call-1: "\f162";
    $font-Flaticon-100-phone-call: "\f163";