    /*
    Flaticon icon font: Flaticon
    Creation date: 28/09/2016 08:06
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-balloons:before { content: "\f100"; }
.flaticon-bat:before { content: "\f101"; }
.flaticon-black-cat:before { content: "\f102"; }
.flaticon-bones:before { content: "\f103"; }
.flaticon-broom:before { content: "\f104"; }
.flaticon-candies:before { content: "\f105"; }
.flaticon-candle:before { content: "\f106"; }
.flaticon-candy:before { content: "\f107"; }
.flaticon-candy-1:before { content: "\f108"; }
.flaticon-candy-2:before { content: "\f109"; }
.flaticon-castle:before { content: "\f10a"; }
.flaticon-cauldron:before { content: "\f10b"; }
.flaticon-coffin:before { content: "\f10c"; }
.flaticon-death:before { content: "\f10d"; }
.flaticon-dracula:before { content: "\f10e"; }
.flaticon-eye-ball:before { content: "\f10f"; }
.flaticon-finger:before { content: "\f110"; }
.flaticon-fireworks:before { content: "\f111"; }
.flaticon-frankenstein:before { content: "\f112"; }
.flaticon-ghost:before { content: "\f113"; }
.flaticon-gift:before { content: "\f114"; }
.flaticon-grave:before { content: "\f115"; }
.flaticon-halloween:before { content: "\f116"; }
.flaticon-halloween-1:before { content: "\f117"; }
.flaticon-hockey-mask:before { content: "\f118"; }
.flaticon-knife:before { content: "\f119"; }
.flaticon-lamp:before { content: "\f11a"; }
.flaticon-lollipop:before { content: "\f11b"; }
.flaticon-magic-ball:before { content: "\f11c"; }
.flaticon-magic-wand:before { content: "\f11d"; }
.flaticon-maple-leaf:before { content: "\f11e"; }
.flaticon-moon:before { content: "\f11f"; }
.flaticon-mummy:before { content: "\f120"; }
.flaticon-owl:before { content: "\f121"; }
.flaticon-potion:before { content: "\f122"; }
.flaticon-pumpkin:before { content: "\f123"; }
.flaticon-scare:before { content: "\f124"; }
.flaticon-scarecrow:before { content: "\f125"; }
.flaticon-scythe:before { content: "\f126"; }
.flaticon-spellbook:before { content: "\f127"; }
.flaticon-spider:before { content: "\f128"; }
.flaticon-spider-web:before { content: "\f129"; }
.flaticon-tombstone:before { content: "\f12a"; }
.flaticon-tree:before { content: "\f12b"; }
.flaticon-trick-or-treat:before { content: "\f12c"; }
.flaticon-trident:before { content: "\f12d"; }
.flaticon-voodoo-doll:before { content: "\f12e"; }
.flaticon-witch:before { content: "\f12f"; }
.flaticon-zombie:before { content: "\f130"; }
.flaticon-zombie-1:before { content: "\f131"; }
    
    $font-Flaticon-balloons: "\f100";
    $font-Flaticon-bat: "\f101";
    $font-Flaticon-black-cat: "\f102";
    $font-Flaticon-bones: "\f103";
    $font-Flaticon-broom: "\f104";
    $font-Flaticon-candies: "\f105";
    $font-Flaticon-candle: "\f106";
    $font-Flaticon-candy: "\f107";
    $font-Flaticon-candy-1: "\f108";
    $font-Flaticon-candy-2: "\f109";
    $font-Flaticon-castle: "\f10a";
    $font-Flaticon-cauldron: "\f10b";
    $font-Flaticon-coffin: "\f10c";
    $font-Flaticon-death: "\f10d";
    $font-Flaticon-dracula: "\f10e";
    $font-Flaticon-eye-ball: "\f10f";
    $font-Flaticon-finger: "\f110";
    $font-Flaticon-fireworks: "\f111";
    $font-Flaticon-frankenstein: "\f112";
    $font-Flaticon-ghost: "\f113";
    $font-Flaticon-gift: "\f114";
    $font-Flaticon-grave: "\f115";
    $font-Flaticon-halloween: "\f116";
    $font-Flaticon-halloween-1: "\f117";
    $font-Flaticon-hockey-mask: "\f118";
    $font-Flaticon-knife: "\f119";
    $font-Flaticon-lamp: "\f11a";
    $font-Flaticon-lollipop: "\f11b";
    $font-Flaticon-magic-ball: "\f11c";
    $font-Flaticon-magic-wand: "\f11d";
    $font-Flaticon-maple-leaf: "\f11e";
    $font-Flaticon-moon: "\f11f";
    $font-Flaticon-mummy: "\f120";
    $font-Flaticon-owl: "\f121";
    $font-Flaticon-potion: "\f122";
    $font-Flaticon-pumpkin: "\f123";
    $font-Flaticon-scare: "\f124";
    $font-Flaticon-scarecrow: "\f125";
    $font-Flaticon-scythe: "\f126";
    $font-Flaticon-spellbook: "\f127";
    $font-Flaticon-spider: "\f128";
    $font-Flaticon-spider-web: "\f129";
    $font-Flaticon-tombstone: "\f12a";
    $font-Flaticon-tree: "\f12b";
    $font-Flaticon-trick-or-treat: "\f12c";
    $font-Flaticon-trident: "\f12d";
    $font-Flaticon-voodoo-doll: "\f12e";
    $font-Flaticon-witch: "\f12f";
    $font-Flaticon-zombie: "\f130";
    $font-Flaticon-zombie-1: "\f131";